a.text-bigger {
    display: inline-block;
}

span.text-link {
    display: inline-block;
}

.tasks {
    width: 540px;
    padding: 40px 0;
    box-sizing: border-box;
}

.listitem {
    margin: 0 0 7px -20px;
    padding: 9px 20px 9px 20px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border .2s;
}

.listitem--link {
    display: block;
}

.listitem--link:hover {
    border: 1px solid #ff0000;
}

.listitem .text-big {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 400;
    line-height: 20px;
}

.listitem--link:hover .text-link {
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}

.tasks .text-bigger, .singletask .text-bigger, .coordinator .text-bigger, .errors .text-bigger, .forma_agitator .text-bigger{
    margin-bottom: 25px;
}

.singletask, .coordinator, .errors, .forma_agitator {
    padding: 40px 0;
    box-sizing: border-box;
}

.steps {
    width: 360px;
    margin: 0 0 10px -20px;
    padding: 10px 10px 20px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #e5f4ff;
}

.steps .flexbox:first-child {
    margin-bottom: 18px;
}

.steps .text-date {
    margin-bottom: 20px;
}

.steps__item {
    margin-bottom: 20px;
}

.steps__title {
    margin-bottom: 10px;
}

.steps__item .text-big {
    margin-bottom: 5px;
}

.table {
    width: 520px;
}

.coordinator .table {
    padding: 30px 0;
}

.table__header {
    padding-bottom: 10px;
    margin-bottom: 7px;
    border-bottom: 1px solid #ccc;
    align-items: flex-end;
}

.table__header .text-small {
    font-weight: 500;
}

.table__header .text-small:last-child, .table__row .flexbox__item:last-child {
    width: 155px;
}

.table__header .filter {
    margin-top: 5px;
}

.table__row .text-small {
    line-height: 15px;
    margin-bottom: 3px;
}

.table__row .flexbox__item:last-child {
    margin-right: -20px;
}

.errors .table {
    width: 100%;
}

.errors .table .flexbox__item {
    padding-right: 40px;
    box-sizing: border-box;
}

.errors .table .flexbox__item:nth-child(1) {
    flex: 2;
}

.errors .table .flexbox__item:nth-child(2) {
    flex: 2.5;
}

.errors .table .flexbox__item:nth-child(3) {
    flex: 3;
}

.errors .table .flexbox__item:nth-child(4) {
    flex: 1;
}

.errors .table__header {
    margin-bottom: 0;
}

.forma_agitator .form {
    width: 100%;
}