a.text-bigger {
    display: inline-block;
}

span.text-link {
    display: inline-block;
}

.tasks {
    width: 540px;
}

.listitem {
    margin: 0 0 7px -20px;
    padding: 9px 20px 9px 20px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border .2s;
}

.listitem--link {
    display: block;
    cursor: pointer;
}

.listitem--link:hover {
    border: 1px solid #ff0000;
}

.listitem .text-big {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 400;
    line-height: 20px;
}

.listitem--link:hover .text-link {
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}

.listitem__img, .dashboard__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.listitem__img img {
    width: 50px;
}

.listitem__text {
    display: inline-block;
    vertical-align: top;
}

.tasks .text-bigger, .singletask .text-bigger, .coordinator .text-bigger, .errors .text-bigger, .forma_agitator .text-bigger, .forma_coordinator .text-bigger, .forma_pomoschnik .text-bigger, .coordinatorskaya .text-bigger {
    margin-bottom: 25px;
}

.singletask, .coordinator, .errors, .forma_agitator, .forma_coordinator, .forma_pomoschnik, .coordinatorskaya .container, .pomoshnik .container {
    padding: 40px 0;
    box-sizing: border-box;
}

.coordinatorskaya .dashboard .container, .pomoshnik .dashboard .container {
    padding: 0;
}

.steps {
    width: 360px;
    margin: 0 0 10px -20px;
    padding: 10px 10px 20px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #e5f4ff;
}

.steps .flexbox:first-child {
    margin-bottom: 18px;
}

.steps .text-date {
    margin-bottom: 20px;
}

.steps__item {
    margin-bottom: 20px;
}

.steps__title {
    margin-bottom: 10px;
}

.steps__item .text-big {
    margin-bottom: 5px;
}

.table {
    width: 520px;
}

.table__header {
    padding-bottom: 10px;
    margin-bottom: 7px;
    border-bottom: 1px solid #ccc;
    align-items: flex-end;
}

.table__header .text-small {
    font-weight: 500;
}

.table__header .text-small:last-child, .table__row .flexbox__item:last-child {
    width: 155px;
}

.table__row .text-small {
    line-height: 15px;
    margin-bottom: 3px;
}

.table__row.text-big {
    margin: 15px 0 10px 0;
}

.table__row .flexbox__item:last-child {
    margin-right: -20px;
}

.errors .table {
    width: 100%;
}

.errors .table .flexbox__item {
    padding-right: 40px;
    box-sizing: border-box;
}

.errors .table .flexbox__item:nth-child(1) {
    flex: 2;
}

.errors .table .flexbox__item:nth-child(2) {
    flex: 2.5;
}

.errors .table .flexbox__item:nth-child(3) {
    flex: 3;
}

.errors .table .flexbox__item:nth-child(4) {
    flex: 1;
}

.errors .table__header {
    margin-bottom: 0;
}

.errors .table .flexbox__item:nth-child(3) .listitem__text {
    width: 210px;
}

.steps .flexbox--start .flexbox__item:first-child {
    flex: 2;
}

.steps .flexbox--start .flexbox__item:last-child {
    flex: 6;
}

.steps__row {
    margin-bottom: 3px;
}

.coordinatorskaya .tasks {
    width: 100%;
}

.listitem__deadline {
    width: 280px;
}

.listitem__done {
    width: 270px;
    margin-left: 65px;
}

.tasks .flexbox__item--left {
    flex: 1.78;
}

.tasks .flexbox__item--right {
    flex: 1;
    text-align: left;
}

.tasks__header .flexbox__item--right {
    margin-left: -40px;
}

.tasks__uiks {
    margin-bottom: 7px;
}

.tasks__uiks div:first-child {
    flex: 1;
}

.tasks__uiks div:last-child {
    flex: 1.5;
}

.dashboard__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.dashboard__img img {
    width: 80px;
}

.pomoshnik .dashboard {
    padding: 20px 0;
}

.pomoshnik .dashboard__tablo {
    margin-left: 0;
}

.pomoshnik .dashboard__img, .pomoshnik .dashboard__title {
    display: inline-block;
    vertical-align: middle;
}

.pomoshnik .dashboard__title {
    margin-bottom: 0;
}

.dashboard__user {
    margin-bottom: 20px;
}

.pomoshnik .button--dashboard {
    margin: 30px auto 20px auto;
}

.your__info .form {
    width: 360px;
    padding: 10px 10px 10px 20px;
    margin-left: 0;
}

.yourprogress  {
    margin-bottom: 15px;
}

.progressbar {
    width: 500px;
    margin-bottom: 15px;
}

.progressbar-outer {
    width: 100%;
    height: 10px;
    border: 1px solid #ececed;
    border-radius: 5px;
    overflow: hidden;
}

.progressbar-inner {
    height: 100%;
}

.yourprogress .progressbar-inner {
    width: 40%;
    background-color: #39b54a;
}

.campaignprogress .progressbar-inner {
    width: 10%;
    background-color: #0096ff;
}

.yourmedals .flexbox__item {
    flex: 1;
    margin-left: -7px;
}

.medal__img, .medal__text {
    display: inline-block;
    vertical-align: middle;
}

.pomoshnik .tasks {
    width: 100%;
    margin-top: 40px;
}

.tasks__gain {
    width: 70px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
}

.tasks__gain--exp {
    border: 1px solid #39b54a;
}

.tasks__gain--medal {
    position: relative;
}

.tasks__gain--medal:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 47px;
    top: 0;
    left: 0;
    background-image: url(../images/medal2.png);
    background-repeat: no-repeat;
    z-index: -1;
}

.tasks__body {
    display: inline-block;
    vertical-align: top;
}

.task__start div {
    display: inline-block;
    vertical-align: middle;
}

.task__start .button {
    padding: 0 13px;
    margin-right: 15px;
}

.task__start .text-link {
    color: #ff0000;
    border-bottom: 1px solid #ffa3a3;
}

.task__status--success {
    color: #39b54a;
}

.task__start, .task__steps, .task__status {
    display: none;
}

.task__start--showed, .task__steps--showed, .task__status--showed {
    display: block;
}

.listitem--inactive {
    color: #959595;
    pointer-events: none;
}

.listitem--inactive .text-link {
    color: #959595;
    border-bottom: 1px solid #959595;
}

.listitem--inactive .tasks__gain--medal {
    visibility: hidden;
}

.pomoshnik .steps {
    width: 580px;
    padding: 10px 20px;
}

.pomoshnik .steps__point, .pomoshnik .steps__num {
    display: inline-block;
}

.pomoshnik .steps__num {
    margin-right: 5px;
    vertical-align: baseline;
}

.pomoshnik .steps__point {
    width: 340px;
    vertical-align: text-top;
}

.pomoshnik .steps__error {
    padding: 15px 20px 20px 20px;
    box-sizing: border-box;
    background-color: #fe0000;
    color: #fff;
    line-height: 22px;
    border-radius: 8px;
}

.steps__error {
    display: none;
}

.steps__item--error .steps__num, .steps__item--error .steps__point {
    color: #fe0000;
}

.steps__item--error .steps__error {
    display: block;
}








