.button {
    height: 40px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 7px;
    line-height: 2.1;
    cursor: pointer;
    transition: background .2s;
}

.button--blue {
    background-color: #0195ff;
}

.button--blue:hover {
    background-color: #0183de;
}

.button--red {
    background-color: #ff0000;
}

.button--red:hover {
    background-color: #c40008;
}

.button--pressed {
    box-shadow: inset 0px 2px 6px 0px rgba(0, 0, 0, 0.23);
}

.voite .button {
    margin-bottom: 10px;
}

.form .button--blue {
    width: 160px;
}

.modal2 .button {
    width: 220px;
    margin: 0 auto;
}

.form__block-outdistrict .button--red {
    width: 220px;
}


.form__row--button {
    margin-top: 30px;
}