.button {
    height: 40px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
    line-height: 2.1;
    cursor: pointer;
    transition: background .2s;
}

.button--small {
    height: 30px;
    font-size: 13px;
    border-radius: 4px;
    padding: 0 10px;
    box-sizing: border-box;
}

a.button, div.button {
    line-height: 2.5;
}

.button--blue {
    background-color: #0195ff;
}

.button--blue:hover {
    background-color: #0183de;
}

.button--red {
    background-color: #ff0000;
}

.button--red:hover {
    background-color: #c40008;
}

.button--green {
    background-color: #39b54a;
}

.button--green:hover {
    background-color: #319c40;
}

.button--pressed {
    box-shadow: inset 0px 2px 6px 0px rgba(0, 0, 0, 0.23);
}

.guide .button {
    width: 100%;
    margin-bottom: 10px;
}

.form .button--blue {
    width: 160px;
}

.modal2 .button {
    width: 220px;
    margin: 0 auto;
}

.form__block-outdistrict .button--red {
    width: 220px;
}

.form__row--button {
    margin-top: 30px;
}

.signin .button {
    width: 140px;
}

.button--keygen {
    position: relative;
    z-index: 1;
}

.dashboard .button {
    width: 240px;
    margin-bottom: 10px;
}

.coordinatorskaya .button {
    margin-bottom: 30px;
}

.dashboard__rate .button {
    width: auto;
    display: inline-block;
    margin: 15px 10px 0 0;
}

.steps__item .button{
    width: 160px;
    margin-left: 22px;
    vertical-align: middle;
}

.loadphoto .button {
    width: 100%;
}