.footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 15px 0 30px 0;
    background-color: #f4f4f4;
    z-index: 1;
}

.footer--fixed {
    position: absolute;
}

.footer__social {
    margin-bottom: 30px;
}

.footer__text {
    display: inline-block;
}

.footer__text {
    margin-right: 10px;
}

.footer__links .flexbox__item {
    flex: 1;
}

.footer__links .flexbox__item:last-of-type {
    flex: 2;
}