.form {
    width: 540px;
    display: inline-block;
    padding: 20px 10px 45px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #e5f7fd;
}

.pomogat .form {
    width: 100%;
}

.form__row {
    margin-bottom: 20px;
    position: relative;
}

.form__kostili {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    top: 0;
    left: -5px;
    z-index: 1;
    background-color: #e5f7fd;
}

.form__textarea +.form__kostili {
    top: 10px;
}

.form__row--cluster {
    margin-bottom: 0;
}

.form__row--button {
    margin-top: 40px;
}

.form__row--button .button {
    display: inline-block;
}

.form__row--lined {
    padding-top: 25px;
    border-top: 1px solid #fff;
}

.form__title {
    font-weight: 500;
}

.form__input, .form__textarea {
    position: relative;
    width: 240px;
    height: 40px;
    border: 1px solid #e8e4de;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 15px;
    box-sizing: border-box;
    /*box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05) inset;*/
    font-size: 16px;
    z-index: 2;
}

.form__textarea {
    height: 80px;
    vertical-align: top;
    padding-top: 11px;
    resize: vertical;
}

.form__input:focus, .form__textarea:focus {
    box-shadow: none;
    border: 1px solid #b1daf4;
}

.form__input--hidden {
    position: absolute;
    left: -9999px;
}

.form__input--error {
    box-shadow: none;
    border: 1px solid #ff0000;
}

.form__input--top {
    height: 35px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form__input--middle {
    height: 35px;
    border-radius: 0px;
}

.form__input--bottom {
    height: 35px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.form__row--cluster .form__input {
    border-bottom:  1px solid transparent;
}

.form__row--cluster .form__input:focus {
    border-bottom: 1px solid #b1daf4;
}

.form__input--long {
    width: 360px;
}

.form__input--short {
    width: 80px;
}

.form__label {
    width: 125px;
    display: inline-block;
}

.form__label[for="other"] {
    position: relative;
    top: 12px;
}

.form__help {
    position: relative;
    left: 131px;
    top: 3px;
}

.form__error {
    display: inline-block;
    margin-left: 10px;
    color: #ff0000;
}

.form__note {
    width: 300px;
    position: absolute;
    right: -350px;
    top: 10px;
}

.form__note:before {
    content: '';
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: rgba(0, 0, 0, .3);
    left: -210px;
    top: 10px;
}

.pomogat .form__note {
    right: 50px;
}

.form__radio-button {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 5px 1px 0 0;
    border: 1px solid #00aeef;
    border-radius: 7px;
    text-align: center;
    line-height: 2;
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;

}

input[type="radio"]:checked+.form__radio-button {
    background-color: #00aeef;
    color: #fff;
}

label[for = "align"] {
    vertical-align: text-top;
}

.form__radio-button+.form__help {
    margin-top: -8px;
}

input[name="district"]+.form__radio-button {
    width: 180px;
    height: 40px;
    line-height: 2.4;
    margin-right: 15px;
}

input[name="registration"]+.form__radio-button {
    width: 60px;
    height: 32px;
    line-height: 1.7;
    margin-right: 15px;
}

.form__socials {
    width: 760px;
}

.form__socials .form__label {
    text-align: right;
}

.form__checkboxes {
    /*display: inline-block;
    vertical-align: top;*/
    margin-left: 37px;
}

.form__checkbox:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid #e8e4de;
    border-radius: 8px;
    background-color: #fff;
}

.form__checkbox:after {
    content: none;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 5px;
    background-image: url(../images/icon-check.png);
    background-repeat: no-repeat;
}

input[name="help"]:checked+.form__checkbox:after {
    content: '';
}

.form__checkbox span, .form__radio-circle span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
}

.form__checkboxes .flexbox__item {
    flex: 1;
}

#help4-1 {
    margin-left: 30px;
}

.form__radio-circle {
    position: relative;
}

.form__radio-circle:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid #e8e4de;
    border-radius: 8px;
    background-color: #fff;
}

.form__radio-circle:after {
    content: none;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: #0096ff;
}

input[name="periodicity"]:checked+.form__radio-circle:after {
    content: '';
}