.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #000;
    font-size: 13px;
    color: #fff;
    z-index: 1;
}

.header--fixed {
    position: absolute;
}

.header-menu {
    display: none;
    text-transform: uppercase;
}

.logo {
    margin-right: 20px;
    vertical-align: middle;
}

.logo__img {
    width: 179px;
    height: 16px;
    background-color: #fff;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 358px 16px;
    background-position: -179px 0;
    display: inline-block;
    transition: background .2s;
}

.logo__img:hover {
    background-color: #ff0000;
}

.header__main {
    line-height: 30px;
}

.header .breadcrumbs {
    vertical-align: middle;
}

.breadcrumbs__image {
    width: 26px;
    height: 30px;
    background-color: #fff;
    background-image: url(../images/icon-breadcrumb.png);
    background-repeat: no-repeat;
    background-size: 52px 30px;
    background-position: 0 0;
    display: inline-block;
    vertical-align: middle;
    transition: background .2s;
}

.breadcrumbs__text {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    transition: color .2s;
}

.breadcrumbs:hover .breadcrumbs__image {
    background-color: #ff0000;
}

.breadcrumbs:hover .breadcrumbs__text {
    color: #ff0000;
}

.header__others.flexbox {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end
}

.header__item {
    display: inline-block;
    position: relative;
}

.header__link {
    height: 30px;
    display: inline-block;
    padding: 0 11px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 2.1;
}

.header__link:hover {
    background-color: #494949;
}

.header__item:last-child {
    cursor: pointer;
}

.header__dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    width: 205px;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    background-color: #494949;
    display: none;
}

.header__dropdown-item {
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}

.header__dropdown-item:hover {
    color: #ff0000;
}

.header__dropdown-item:last-child {
    margin-top: 40px;
    margin-bottom: 0;
}

.header__item:last-child .header__dropdown {
    right: 0;
    left: auto;
}

.header__link:hover + .header__dropdown, .header__dropdown:hover {
    display: block;
}

.header__item--active, .header__item--active:hover .header__link {
    background-color: #ed1c24;
}

.header__item--active .header__link:hover + .header__dropdown {
    display: none;
}

.header__item:last-child.header__item--active:hover > .header__dropdown {
    display: block;
}

span.header__item--active, a.header__item--active {
    display: inline-block;
}