@import url("button.css");
@import url("form.css");
@import url("header.css");
@import url("footer.css");
@import url("modal.css");
@import url("select.css");
@import url("dashboard.css");
@import url("adminskaya.css");



html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #010101;
}

input, textarea, button {
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 10px 0;
}

.container {
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.flexbox--start {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.flexbox--verticalmiddle {
    align-items: center;
}

.flexbox--verticalbottom {
    align-items: flex-end;
}

.flexbox__container {
    display: inline-block;
}

.text-bigger {
    font-size: 28px;
}

.text-big {
    font-size: 20px;
}

.text-big--done {
    color: #39b54a;
}

.text-small {
    font-size: 13px;
}

.text-normal {
    font-size: 16px;
}

.text-bold {
    font-weight: 500;
}

.text-small--light {
    color: #959595;
    font-weight: 500;
    line-height: 17px;
}

.text-light {
    color: #959595;
    line-height: 17px;
}

.text-link {
    color: #0096ff;
    border-bottom: 1px solid #a3ceff;
    transition: color .2s, border .2s;
    cursor: pointer;
}

.text-link:hover {
    color: #ff0000;
    border-bottom: 1px solid #ffa3a3;
}

.text-link--dropdown {
    border-bottom: 1px dashed #a3ceff;
}

.text-link--dropdown:hover {
    border-bottom: 1px dashed #ffa3a3;
}

.icon-close {
    width: 19px;
    height: 21px;
    background-image: url(../images/icon-close.png);
    background-repeat: no-repeat;
    background-size: 38px 21px;
    background-position: 0 0;
    cursor: pointer;
}

.icon-close:hover {
    background-position: -19px 0;
}

.budu_golosovat, .privel, .pomogat {
    padding: 45px 0;
}

.golosuem {
    height: 100%;
    position: relative;
    top: -30px;
    left: 0;
    right: 0;
    margin:  0 auto;
}

.slogan {
    height: calc(100% - 80px - 50%);
    box-sizing: border-box;
    background-image: url(../images/background__main.jpg);
    position: relative;
    z-index: 0;
    background-position: bottom;
}

.slogan:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .9));
    z-index: -1;
}

.slogan__title {
    line-height: 52px;
    font-size: 54px;
}

.slogan__text {
    position: relative;
    top: 7px;
    font-weight: 500;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
}

.golosuem .slogan__title {
    -webkit-flex: 6;
        -ms-flex: 6;
            flex: 6;
}

.golosuem .slogan__text {
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
}

.slogan .flexbox {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
}

.guide {
    padding: 15px 0;
}

.guide__item {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;
}

.guide__text {
    line-height: 20px;
    margin-left: 3px;
}

.guide__item:last-of-type {
    margin-right: 0;
}

.guide__directions {
    -webkit-flex: 6;
        -ms-flex: 6;
            flex: 6;
}

.note {
    position: relative;
}

.note:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 51px;
    top: 5px;
    left: -25px;
    background-image: url(../images/icon-exclamation.png);
    background-repeat: no-repeat;
}

.note__text {
    line-height: 20px;
}

.note__bold {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.golosuem .note {
    top: -5px;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
}

.budu_golosovat .info, .privel .info, .pomogat .info {
    -webkit-flex: 6;
        -ms-flex: 6;
            flex: 6;
}

.budu_golosovat .note, .privel .note {
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
    top: 42px;
}

.pomogat .note {
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
    top: 74px;
}

.counter__item {
    display: inline-block;
    vertical-align: middle;
}

.counter__num {
    font-size: 36px;
    margin-right: 5px;
    line-height: 1.15;
    letter-spacing: -1px;
}

.counter__text {
    width: 75px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.1;
}

.counter__num, .counter__text {
    display: inline-block;
    vertical-align: middle;
}

.counter__item:nth-child(2) .counter__num {
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
}

.budu_golosovat .counter, .privel .counter, .pomogat .counter {
    margin: 15px 0 55px 0;
}

.golosuem .counter {
    margin: 30px auto;
}

.info__title {
    font-size: 28px;
    line-height: 30px;
}

.info__text {
    width: 540px;
}

.info__text p {
    line-height: 20px;
}

.align-centered {
    text-align: center;
}

.align-middle-wrap {
    height: 45%;
    position: relative;
}

.align-middle {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.nabiraem .slogan__title {
    line-height: 52px;
    font-size: 54px;
    margin-bottom: 20px;
}

.nabiraem .slogan__info {
    width: 280px;
    display: inline-block;
    text-align: left;
}

.nabiraem .slogan__left {
    flex: 5;
}

.nabiraem .slogan__right {
    flex: 3;
    text-align: center;
}

.nabiraem .slogan__district {
    width: 450px;
}

.nabiraem .slogan__district div {
    display: inline-block;
    font-weight: 500;
}

.nabiraem .form__label {
    vertical-align: middle;
}

.baloon {
    width: 280px;
    background-color: #fff;
    border-radius: 14px;
    padding: 20px 10px;
    box-sizing: border-box;
    position: absolute;
    z-index: 99;
	left: 10px;
	top: 10px;
}

.baloon--home {
    width: 300px;
    padding: 10px;
}

.baloon--home:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -8px;
    left: -8px;
    border-radius: 50%;
    background-color: #0096ff;
}

.baloon--home .button {
    width: 100%;
}

.baloon--home .button:first-of-type {
    margin-bottom: 10px;
}

.baloon__title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.baloon__list {
    margin: 20px 0 0 3px;
    text-align: left;
}

.baloon__num {
    font-weight: 400;
    font-size: 36px;
    letter-spacing: -2px;
    line-height: 37px;
}

.baloon .list__item {
    margin-bottom: 7px;
    font-size: 13px;
}

.baloon .list__count {
    width: 30px;
    height: 30px;
    position: relative;
    color: #fff;
    margin-right: 5px;
}

.baloon .list__count:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-image: url(../images/icon-square.png);
    background-repeat: no-repeat;
}

.baloon .list__item--few .list__count:before {
    opacity: .6;
}

.baloon .list__item--no .list__count:before {
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: #8a8181;
    background-image: none;
}

.baloon .list__count, .baloon .list__text {
    display: inline-block;
    vertical-align: middle;
}

.baloon .list__num {
    display: block;
    width: 100%;
    position: relative;
    top: 7px;
    left: 0;
    text-align: center;
}

.nabiraem .slogan {
    padding: 40px 0;
}

.flexbox--triple, .flexbox--double {
    justify-content: flex-start;
}

.flexbox--triple .flexbox__item {
    width: 140px;
}

.flexbox--double .flexbox__item {
    width: 90px;
}

.map {
    position: relative;
    padding-bottom: 20px;
}

.map .container {
    bottom: 35px;
    left: 0;
    right: 0;
    height: auto;
    margin-top: 15px;
}

#map {
    width: 100%;
    height: 590px;
}

.map__info {
    width: 160px;
}

.mailme {
    width: 280px;
}

.breadcrumbs-content {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: color 0s;
}

.breadcrumbs-content:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -15px;
    top: 5px;
    background-image: url(../images/icon-back.png);
    background-size: 20px 10px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs-content:hover:before {
    background-position: -10px 0;
}

.filter-wrap {
    width: 140px;
}

.filter {
    display: inline-block;
    position: relative;
    padding-right: 30px;
    color: #0096ff;
    cursor: pointer;
    margin-top: 5px;
}

.filter:after {
    content: '';
    position: absolute;
    width: 19px;
    height: 12px;
    right: 0;
    top: 3px;
    background-image: url(../images/icon-filter.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

@media screen and (max-height: 700px) {

    .golosuem {
        height: auto;
        top: 0;
    }

    .slogan {
        height: auto;
        padding: 50px 0;
    }

    .align-middle {
        position: relative;
        top: 10px;
        transform: translateY(0);
    }

    .golosuem ~ .footer {
        position: relative;
    }

}


@media screen and (max-width: 420px) {

    .container {
        width: 100%;
        height: auto;
        padding: 0 20px;
    }

    .logo {
        line-height: 31px;
    }

    .logo__img {
        margin-top: 6px;
    }

    .breadcrumbs {
        display: none;
    }

    .header__directions {
        display: none;
    }

    .slogan, .align-middle-wrap {
        height: auto;
    }

    .slogan__title {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 15px;
    }

    .slogan__text {
        top: 0;
    }

    .align-middle {
        position: relative;
        top: 0;
        transform: translateY(0);
    }

    .golosuem {
        height: auto;
        top: 0;
    }

    .flexbox {
        flex-direction: column;
    }

    .golosuem ~ .footer {
        position: relative;
    }

    .guide {
        padding: 15px 0 15px 20px;
    }

    .guide .flexbox {
        flex-direction: column-reverse;;
    }

    .note {
        margin-bottom: 30px;
    }

    .note:after {
        left: -15px;
    }

    .guide__text {
        margin-bottom: 30px;
    }

    .golosuem .counter {
        margin: 10px auto 25px auto;
    }

    .counter__item {
        vertical-align: top;
    }

    .counter__text, .counter__num {
        display: block;
    }

    .counter__item:nth-child(3) .counter__text {
        margin-left: 7px;
    }

    .footer__text {
        display: block;
        margin-bottom: 15px;
    }

    .likely .likely__widget {
        display: block;
    }

    .footer__links .flexbox__item:last-of-type {
        margin-top: 20px;
        align-self: flex-start;
        text-align: left;
    }

    .info__text {
        width: 100%;
    }

    .form {
        width: 100%;
        margin: 0 auto;
    }

    .form__label {
        margin-bottom: 5px;
    }

    .form__help {
        left: 0px;
    }

    .form__note {
/*        position: relative;
        left: 0;*/
        display: none;
    }

    .form__input--long, .form__socials {
        width: 100%;
    }

    .form__note:before {
        content: none;
    }

    .form__kostili {
        display: none;
    }

    div.fancy-select ul.options {
        width: 100%;
        left: 0;
    }

    .form__row--cluster {
        margin-bottom: 10px;
    }

    .form__row--cluster .form__input, .form__input--bottom {
        height: 40px;
        border: 1px solid #e8e4de;
        border-radius: 8px;
    }

    .form__label--block, label[for="year-other"] {
        display: block;
        width: auto;
    }

    .privel .form__radio-button {
        width: 40px;
        height: 40px;
        line-height: 2.3;
        margin: 10px 10px 0 0;
    }

    .form__radio-button+.form__help {
        margin-top: 5px;
    }

    .form__label[for="other"] {
        top: 0;
    }

    label[for="appartment-other"], .form__row--button .form__label, label[for="appartment"] {
        display: none;
    }

    .form .button--blue {
        display: block;
        margin: 0 auto 10px auto;
    }

    .form__error {
        display: block;
        width: auto;
        margin: 0 auto;
        text-align: center;
    }

    .form__error div {
        display: inline-block;
    }

    .form__socials .form__label {
        text-align: left;
        display: block;
    }

    .pomogat .note {
        top: 20px;
    }

    label[for="indistrict"] {
        margin-bottom: 10px;
    }

    .form__checkboxes, #help4-1 {
        margin-left: 0;
    }
}

